In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer

df = pd.read_csv('car-data.csv')
df

      Company Body Colour  Odometer (miles)  Doors    Price
0         KIA        Grey           11365.0    4.0  15366.0
1         BMW         Red          192737.0    5.0  19986.0
2         KIA        Grey           84737.0    4.0  28386.0
3    Changhan        Grey          154388.0    4.0  13477.0
4        Audi         Red          181600.0    3.0  14086.0
..        ...         ...               ...    ...      ...
995  Changhan       Black           35843.0    4.0  32085.0
996       NaN        Grey          155167.0    3.0   5759.0
997      Audi         Red           66627.0    4.0  31613.0
998       KIA        Grey          215906.0    4.0   4044.0
999  Changhan         Red          248383.0    4.0  12775.0

[1000 rows x 5 columns]

In [2]:
print(df.isnull().sum())

Company             49
Body Colour         50
Odometer (miles)    50
Doors               50
Price               50
dtype: int64

Seperating categorical and numerical values and hangling missing values

In [3]:
# Handling categroical missing values 
categorycal_cols = df.columns[[0,1,3]]
imputer = SimpleImputer(strategy='most_frequent')

df[categorycal_cols] = imputer.fit_transform(df[categorycal_cols])

In [4]:
print(df[categorycal_cols] )

      Company Body Colour Doors
0         KIA        Grey   4.0
1         BMW         Red   5.0
2         KIA        Grey   4.0
3    Changhan        Grey   4.0
4        Audi         Red   3.0
..        ...         ...   ...
995  Changhan       Black   4.0
996  Changhan        Grey   3.0
997      Audi         Red   4.0
998       KIA        Grey   4.0
999  Changhan         Red   4.0

[1000 rows x 3 columns]

In [5]:
# Handling numerical missing values
numerical_cols = df.columns[[2]]
imputer = SimpleImputer(strategy='mean')
df[numerical_cols] = imputer.fit_transform(df[numerical_cols])

In [6]:
print(df.isnull().sum())

Company              0
Body Colour          0
Odometer (miles)     0
Doors                0
Price               50
dtype: int64

Now for the target column since it does not convert it is 1D array we need to reshape it and convert it to 2D array and pass it to the imputer

In [7]:
target_col = df.columns[[-1]]

y_label = df[target_col].values.reshape(-1,1)


imputer = SimpleImputer(strategy='mean')
y_imputed = imputer.fit_transform(y_label)

y_imputed = y_imputed.ravel()

target_col = y_imputed

In [11]:
print(df.isnull().sum())

Company              0
Body Colour          0
Odometer (miles)     0
Doors                0
Price               50
dtype: int64

array([15366.        , 19986.        , 28386.        , 13477.        ,
       14086.        , 23926.        ,  8516.        , 20349.        ,
        9417.        , 26726.        , 16302.        ,  6203.        ,
       16952.        , 11164.        , 18989.        , 16333.        ,
       34508.        , 17220.        ,  9152.        ,  6053.        ,
       24173.        , 29696.        , 22532.        , 21285.        ,
       14317.        , 15729.        , 13387.        , 11027.        ,
        6178.        , 13629.        , 23972.        ,  6909.        ,
        9373.        ,  9823.        , 17559.        ,  8781.        ,
       23481.        , 15174.        ,  9267.        ,  6617.        ,
        9272.        ,  7143.        ,  6380.        , 19128.        ,
        5786.        ,  5968.        , 25239.        , 16181.        ,
        6118.        ,  9971.        ,  7488.        , 13741.        ,
       17465.        ,  8312.        ,  9961.        , 48729.        ,
       15705.        , 19229.        , 11522.        , 12926.        ,
       24711.        , 12215.        , 25111.        , 20413.        ,
        5426.        , 18439.        ,  9691.        ,  6695.        ,
        6429.        , 32422.        , 22479.        ,  6903.        ,
        5691.        , 12044.        , 18398.        , 20467.        ,
       15197.        , 18527.        ,  6545.        , 18353.        ,
        8243.        , 20185.        , 13242.        ,  5751.        ,
       13473.        , 10326.        ,  3343.        , 20979.        ,
       18203.        , 36031.        ,  5819.        , 18638.        ,
        6524.        ,  6326.        ,  6805.        , 16380.        ,
       11435.        , 16562.        , 22339.        , 12239.        ,
       14245.        , 13293.        ,  7447.        ,  5359.        ,
       10168.        , 13657.        , 13326.        , 11627.        ,
       15660.        ,  4790.        ,  6434.        , 17845.        ,
       22986.        , 19545.        , 15584.        , 30450.        ,
       35475.        , 10134.        , 11528.        , 16085.81473684,
       11235.        ,  3987.        , 19043.        ,  8037.        ,
       15647.        , 11691.        , 35643.        , 17639.        ,
       13470.        , 35401.        ,  7856.        ,  8786.        ,
       10671.        ,  4797.        ,  6827.        , 17627.        ,
       10625.        , 21797.        , 14838.        ,  8852.        ,
       19301.        , 34176.        , 20533.        , 31579.        ,
       30455.        , 15029.        , 23117.        ,  4609.        ,
       10081.        , 20540.        ,  8114.        , 10750.        ,
       16085.81473684, 10878.        ,  5375.        , 19149.        ,
       12435.        , 20198.        , 10241.        ,  8303.        ,
       12445.        , 34153.        , 22659.        ,  6404.        ,
       14836.        , 15810.        ,  7904.        , 25890.        ,
        8736.        ,  7236.        , 21894.        , 16085.81473684,
       20325.        ,  3290.        , 18023.        , 16003.        ,
       16085.81473684, 34329.        , 10119.        , 23330.        ,
       12441.        , 20118.        , 12261.        , 20143.        ,
       13189.        , 14232.        ,  9333.        ,  7843.        ,
       13099.        , 39781.        ,  6891.        ,  7140.        ,
       13149.        ,  7889.        ,  8749.        ,  5497.        ,
       10359.        , 25176.        , 10639.        ,  7021.        ,
       25916.        , 13602.        , 26445.        , 10590.        ,
       16158.        , 12596.        , 12519.        , 18349.        ,
       33120.        , 22789.        ,  8899.        , 28056.        ,
        9198.        ,  9573.        , 19935.        , 38171.        ,
       12574.        , 18241.        ,  5638.        , 12915.        ,
       29351.        , 12147.        , 19095.        , 25917.        ,
       23382.        , 21873.        , 22837.        , 35047.        ,
        9777.        , 18734.        , 10866.        , 18389.        ,
        9996.        , 12129.        , 13251.        , 19979.        ,
       27830.        , 11135.        , 34899.        , 10499.        ,
        7768.        ,  7075.        , 15138.        , 16773.        ,
       14203.        ,  9564.        ,  5316.        , 10223.        ,
       39064.        , 16085.81473684, 14447.        , 16646.        ,
        7119.        , 26997.        , 18225.        ,  5429.        ,
       16085.81473684,  8370.        , 16085.81473684, 12089.        ,
       13154.        , 35803.        , 29724.        , 10559.        ,
       32719.        ,  9718.        , 10417.        , 12189.        ,
       28457.        , 17960.        ,  9422.        , 27683.        ,
       48282.        , 22045.        , 15277.        , 13048.        ,
       29026.        , 17563.        , 17901.        , 10689.        ,
       16222.        , 16434.        , 17909.        ,  8609.        ,
        5095.        , 17360.        ,  6474.        ,  9306.        ,
       13298.        , 11811.        ,  7751.        , 10645.        ,
       14132.        , 18567.        , 33396.        , 10915.        ,
       21964.        ,  7085.        ,  8503.        , 15227.        ,
       13243.        ,  8877.        , 10719.        , 12396.        ,
       23354.        , 18418.        , 10783.        ,  4906.        ,
       26889.        , 10423.        , 10931.        , 20280.        ,
       17599.        , 32930.        , 18101.        , 13603.        ,
       16085.81473684, 19400.        , 27100.        , 23911.        ,
        7856.        , 17078.        , 10472.        , 15131.        ,
        6243.        , 11659.        ,  6072.        , 31435.        ,
       13695.        , 17903.        ,  4017.        , 24877.        ,
        6503.        ,  7295.        , 12025.        , 16085.81473684,
       10884.        , 16085.81473684, 13476.        , 24992.        ,
       21024.        , 17383.        ,  7005.        , 17079.        ,
       29678.        ,  4914.        , 25692.        ,  6715.        ,
       23762.        , 24981.        , 17640.        , 10482.        ,
       10344.        , 11781.        , 15666.        , 16266.        ,
        7512.        ,  4017.        , 22219.        ,  5168.        ,
       10035.        ,  3936.        , 23945.        , 14545.        ,
       17919.        , 14241.        ,  8747.        , 14656.        ,
        6611.        ,  5051.        ,  7540.        , 13975.        ,
       15090.        ,  4796.        , 17327.        , 12477.        ,
       29036.        , 23060.        , 18004.        , 16085.81473684,
       13535.        ,  7421.        ,  7104.        ,  5881.        ,
        6285.        , 13746.        , 14270.        , 22198.        ,
       26718.        ,  7641.        ,  8543.        , 14361.        ,
        3938.        , 10877.        , 16560.        , 19380.        ,
       11774.        , 12788.        , 16085.81473684, 35307.        ,
        8303.        , 15922.        , 10302.        , 30482.        ,
       13691.        , 23379.        ,  3637.        , 18370.        ,
       10898.        ,  9023.        ,  6164.        , 41337.        ,
       26720.        , 16085.81473684,  5144.        , 16679.        ,
        8057.        ,  6284.        , 17170.        , 11454.        ,
       18223.        , 29336.        , 16085.81473684, 16085.81473684,
        4989.        , 19763.        , 13551.        , 15695.        ,
       26969.        , 14355.        , 13353.        , 14117.        ,
        5303.        ,  8132.        , 16848.        ,  8796.        ,
       38103.        , 10073.        , 11119.        ,  9151.        ,
       15653.        , 13294.        , 28397.        , 23790.        ,
       19672.        ,  8423.        , 23032.        , 33367.        ,
       13190.        , 20685.        , 10387.        , 25533.        ,
        7725.        , 12635.        ,  7870.        , 17665.        ,
       17214.        , 10144.        , 16362.        , 18696.        ,
       12244.        , 22640.        , 20936.        , 16935.        ,
       27016.        , 17299.        ,  7003.        , 21727.        ,
        5137.        , 14974.        , 11816.        ,  5265.        ,
       10239.        , 16269.        , 16085.81473684, 28147.        ,
       16908.        , 26859.        ,  9588.        , 13690.        ,
       16085.81473684, 14071.        , 31676.        , 12195.        ,
       16044.        , 18401.        ,  7486.        ,  4632.        ,
       17119.        , 21050.        , 29659.        , 22548.        ,
       25154.        ,  7419.        , 10962.        , 25806.        ,
        7925.        ,  4243.        , 29047.        ,  9022.        ,
       10493.        , 18072.        , 10321.        , 19218.        ,
       16085.81473684, 25033.        , 21369.        , 16085.81473684,
       17187.        , 12067.        , 20748.        , 29183.        ,
       23526.        , 13256.        , 16562.        ,  6400.        ,
        8148.        , 10706.        , 12354.        , 16085.81473684,
       19432.        , 13750.        , 13909.        ,  4984.        ,
       16409.        , 14129.        , 13603.        , 10640.        ,
       29132.        , 47303.        , 18962.        , 14485.        ,
       13287.        ,  6785.        , 22085.        , 35726.        ,
        4282.        , 20554.        , 16085.81473684, 19419.        ,
       10718.        , 13219.        , 17563.        ,  5696.        ,
       18962.        , 16085.81473684, 16115.        ,  9997.        ,
       33506.        , 40075.        , 22585.        ,  8730.        ,
        8025.        , 26121.        , 23323.        , 27787.        ,
       11178.        , 22868.        , 11691.        , 15551.        ,
       19079.        ,  6645.        , 14064.        , 10565.        ,
       18877.        , 20922.        , 29188.        , 17707.        ,
       13771.        , 19416.        ,  7946.        , 21279.        ,
       16263.        ,  8016.        ,  7845.        ,  6846.        ,
        8504.        , 10445.        ,  8037.        , 28698.        ,
       13170.        , 16085.81473684,  5556.        , 20564.        ,
       45763.        , 13300.        ,  9572.        ,  7767.        ,
       30897.        , 12155.        , 10250.        , 33241.        ,
        5181.        , 27573.        , 14474.        , 30417.        ,
       22306.        ,  8180.        , 20633.        ,  8235.        ,
       20883.        , 11205.        , 26928.        ,  5200.        ,
       11792.        , 16085.81473684, 31249.        , 21996.        ,
       20493.        , 16085.81473684, 20665.        , 20285.        ,
       16817.        ,  8207.        , 25425.        ,  8959.        ,
       16363.        , 14567.        , 16085.81473684, 10623.        ,
       19451.        , 18185.        , 16085.81473684,  8913.        ,
        7226.        , 10420.        , 13315.        , 22967.        ,
       17733.        , 17108.        , 28116.        , 29699.        ,
       23420.        , 10330.        , 14810.        , 16153.        ,
       28319.        , 21474.        , 25818.        ,  6927.        ,
       10537.        , 16085.81473684, 15415.        , 16085.81473684,
       14247.        , 10067.        , 12435.        , 21494.        ,
       16316.        , 30363.        , 16085.81473684, 10104.        ,
       31251.        , 26877.        , 16910.        , 25778.        ,
       15303.        , 16351.        , 16762.        , 16085.81473684,
       16085.81473684, 27931.        , 16085.81473684, 10284.        ,
       16085.81473684, 15456.        ,  9445.        , 14760.        ,
       15197.        ,  8973.        , 11669.        , 28457.        ,
       18966.        ,  9692.        , 29444.        , 11407.        ,
       10395.        , 16951.        ,  3794.        ,  9962.        ,
       23771.        , 16085.81473684, 37561.        , 13306.        ,
        9753.        , 32906.        , 12101.        ,  6733.        ,
        6547.        ,  4208.        , 16388.        ,  5886.        ,
       11253.        ,  6793.        , 15870.        , 16328.        ,
       17697.        , 13377.        , 27600.        , 19496.        ,
        3552.        , 15340.        , 22630.        ,  9147.        ,
        6250.        , 29919.        , 12229.        , 15716.        ,
       17195.        , 36152.        , 18291.        , 20262.        ,
       15821.        ,  9728.        , 16085.81473684, 23887.        ,
        6960.        , 28639.        , 11346.        , 22926.        ,
       50911.        , 27895.        , 26583.        , 12944.        ,
       14325.        ,  9265.        , 11341.        , 16507.        ,
       29406.        , 12993.        ,  7329.        ,  9543.        ,
        6963.        , 18242.        , 10769.        ,  6999.        ,
       17652.        , 12693.        , 22992.        ,  4065.        ,
       19543.        , 21696.        , 18600.        , 23597.        ,
       14741.        , 20888.        , 16748.        , 20173.        ,
       13977.        ,  8556.        , 13765.        ,  7866.        ,
        5328.        , 30063.        , 23283.        , 11751.        ,
       17838.        ,  2839.        ,  8246.        ,  5011.        ,
       11897.        , 14475.        , 16688.        , 23107.        ,
       18265.        , 16005.        , 17301.        , 21722.        ,
        4401.        , 21655.        , 17678.        , 19314.        ,
       14633.        , 11276.        , 13680.        , 26351.        ,
       28873.        ,  8522.        ,  7200.        , 19588.        ,
       35730.        ,  4776.        ,  5908.        , 16010.        ,
       14987.        , 14374.        , 20151.        , 11079.        ,
       30366.        , 16085.81473684,  8296.        ,  5178.        ,
       13651.        , 33083.        , 27911.        , 20546.        ,
        4497.        , 13437.        ,  7953.        , 22686.        ,
        8733.        , 16531.        , 12652.        ,  8995.        ,
        4609.        , 16085.81473684, 14127.        , 18683.        ,
       24672.        , 16922.        ,  9846.        , 45552.        ,
       23429.        , 32609.        , 30147.        , 15853.        ,
       11005.        , 12566.        ,  5976.        , 10790.        ,
        5188.        ,  7260.        , 16059.        , 18483.        ,
       15140.        , 11183.        , 18472.        , 10864.        ,
        9597.        , 10173.        , 16085.81473684, 29530.        ,
        9921.        , 17365.        , 16085.81473684, 30234.        ,
       20981.        , 36907.        ,  5948.        , 10392.        ,
       14069.        ,  5877.        , 13517.        , 24385.        ,
       12947.        ,  3168.        , 29681.        , 28642.        ,
       33860.        , 13460.        ,  7941.        , 16809.        ,
       32396.        ,  7393.        , 23988.        ,  8269.        ,
        6523.        , 18182.        , 16085.81473684,  9493.        ,
        5965.        , 22827.        , 12445.        ,  9117.        ,
       26856.        , 13693.        , 14188.        , 11776.        ,
       39027.        , 13031.        , 19005.        ,  5508.        ,
       16085.81473684, 16695.        , 16085.81473684, 16085.81473684,
       19875.        , 19881.        , 12451.        , 12405.        ,
        4649.        , 22964.        , 24537.        , 24285.        ,
       21623.        ,  6741.        , 19615.        , 27189.        ,
       25823.        , 10908.        , 22916.        , 27380.        ,
       14431.        ,  9828.        ,  6719.        , 11449.        ,
        9116.        , 22182.        , 16245.        , 14246.        ,
        6257.        ,  7468.        , 38276.        , 21049.        ,
       19855.        , 23883.        , 52501.        ,  9405.        ,
       15904.        , 26983.        , 24165.        ,  6519.        ,
       12565.        ,  6610.        , 11225.        , 14631.        ,
       17358.        , 16085.81473684, 13562.        ,  9869.        ,
       23482.        ,  8364.        , 30002.        , 13589.        ,
       15709.        , 11497.        ,  5464.        ,  5637.        ,
       14177.        , 22859.        ,  7476.        , 14693.        ,
       24221.        , 35376.        , 12259.        ,  5591.        ,
        5211.        , 25147.        ,  7917.        , 17530.        ,
       16085.81473684,  7998.        , 12684.        ,  8829.        ,
       24347.        , 17148.        , 17119.        , 16085.81473684,
       24397.        , 16665.        , 11591.        , 14892.        ,
       16085.81473684, 29594.        , 32552.        , 10304.        ,
       33801.        , 12358.        , 28465.        , 16085.81473684,
       13113.        ,  4939.        , 15053.        ,  7169.        ,
       34274.        , 14734.        , 27641.        , 15267.        ,
       16085.81473684, 35297.        , 16459.        , 24934.        ,
       17982.        ,  8473.        , 14388.        , 10472.        ,
        7478.        , 16878.        , 48462.        , 17983.        ,
        6763.        ,  6489.        , 13316.        , 14714.        ,
        4239.        ,  9734.        , 26925.        ,  3868.        ,
        8401.        , 13971.        ,  8125.        ,  9227.        ,
       27462.        ,  4739.        , 31709.        , 32085.        ,
        5759.        , 31613.        ,  4044.        , 12775.        ])

In [9]:
from sklearn.preprocessing import LabelEncoder


# //for a  set of columns in a categorycal_cols variable 

for col in categorycal_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    
df

     Company  Body Colour  Odometer (miles)  Doors    Price
0          3            1           11365.0      1  15366.0
1          1            2          192737.0      2  19986.0
2          3            1           84737.0      1  28386.0
3          2            1          154388.0      1  13477.0
4          0            2          181600.0      0  14086.0
..       ...          ...               ...    ...      ...
995        2            0           35843.0      1  32085.0
996        2            1          155167.0      0   5759.0
997        0            2           66627.0      1  31613.0
998        3            1          215906.0      1   4044.0
999        2            2          248383.0      1  12775.0

[1000 rows x 5 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

df

     Company  Body Colour  Odometer (miles)  Doors    Price
0          3            1         -1.780083      1  15366.0
1          1            2          0.912955      2  19986.0
2          3            1         -0.690645      1  28386.0
3          2            1          0.343543      1  13477.0
4          0            2          0.747591      0  14086.0
..       ...          ...               ...    ...      ...
995        2            0         -1.416630      1  32085.0
996        2            1          0.355110      0   5759.0
997        0            2         -0.959545      1  31613.0
998        3            1          1.256972      1   4044.0
999        2            2          1.739195      1  12775.0

[1000 rows x 5 columns]